* {
  font-family: Source Sans Pro;
  font-weight: 400;
}
body{
  padding: 0;
  background: #f1f1f1;
}
#wrapper {
  word-wrap: break-word;
  overflow: hidden;
}
.container {
  display: inline-block;
  overflow: hidden;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.btn{
  border: none;
  margin: 20px;
  position: relative;
  padding: 24px;
  width: 220px;
  font-family: "Source Sans Pro",sans-serif;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
  color: #fff;
  background-size: 200%;
  transition: 0.6s
}
.btn1{
  background-image: linear-gradient(to left,#000,#808080,#000);
}
.btn2{
  background-image: linear-gradient(to left,#000,#808080,#000);
}
.btn:hover{
  background-position: right;
}
body, html {
  height: 100;
}
